# compiled output
/bin
/pkg
/target

# env
.env*

# backup
**/*.rs.bk
src/main_*.rs
src/*.html

# OS
.DS_Store

# IDE
.claude
.specstory
.vscode

# SSL certificates
*.pem

/guest-profiles
/benchmark-results/**