[workspace]
resolver = "2"
members = [
    "crates/common",
    "crates/fastly", 
    "crates/js",
]

# Build defaults exclude the web-only tsjs crate, which is compiled via wasm-pack.
default-members = [
    "crates/common",
    "crates/fastly",
]

[profile.release]
debug = 1

[workspace.dependencies]
async-trait = "0.1"
base64 = "0.22"
brotli = "8.0"
bytes = "1.11"
chacha20poly1305 = "0.10"
chrono = "0.4.42"
config = "0.15.19"
cookie = "0.18.1"
derive_more = { version = "2.0", features = ["display", "error"] }
ed25519-dalek = { version = "2.2", features = ["rand_core"] }
error-stack = "0.6"
fastly = "0.11.12"
fern = "0.7.1"
flate2 = "1.1"
futures = "0.3"
handlebars = "6.3.2"
hex = "0.4.3"
hmac = "0.12.1"
http = "1.4.0"
jose-jwk = "0.1.2"
log = "0.4.28"
log-fastly = "0.11.12"
lol_html = "2.7.0"
once_cell = "1.21"
matchit = "0.9"
pin-project-lite = "0.2"
rand = "0.8"
regex = "1.12.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.145"
sha2 = "0.10.9"
temp-env = "0.3.6"
tokio = { version = "1.48", features = ["sync", "macros", "io-util", "rt", "time"] }
tokio-test = "0.4"
toml = "0.9.8"
url = "2.5.7"
urlencoding = "2.1"
uuid = { version = "1.18", features = ["v4"] }
validator = { version = "0.20", features = ["derive"] }
which = "8"
tree-sitter = { version = "0.26.2" }
tree-sitter-javascript = { version = "0.25.0" }

