# This file describes a Fastly Compute package. To learn more visit:
# https://www.fastly.com/documentation/reference/compute/fastly-toml

authors = ["jason@stackpop.com"]
cloned_from = "https://github.com/fastly/compute-starter-kit-rust-default"
description = "EdgePubs - Trusted Server"
language = "rust"
manifest_version = 3
name = "trusted-server-fastly"
service_id = "dysUw6h73VzeomD61eal85"

[scripts]
build = """
    cargo build --bin trusted-server-fastly --release --target wasm32-wasip1 --color always
"""

# Direct integrations will be initialized as dynamic backends and don't need to be declared here.
[backends]

[local_server]
    address = "127.0.0.1:7676"
    
    [local_server.backends]

    [local_server.kv_stores]
        [[local_server.kv_stores.counter_store]]
            key = "placeholder"
            data = "placeholder"

        [[local_server.kv_stores.opid_store]]
            key = "placeholder"
            data = "placeholder"

        [[local_server.kv_stores.creative_store]]
            key = "placeholder"
            data = "placeholder"
    [local_server.secret_stores]
        [[local_server.secret_stores.signing_keys]]
            key = "ts-2025-10-A"
            data = "NVnTYrw5xoyTJDOwoUWoPJO3A6UCCXOJJUzgGTxxx7k="

        [[local_server.secret_stores.api-keys]]
            key = "api_key"
            env = "FASTLY_KEY"

    [local_server.config_stores]
        [local_server.config_stores.jwks_store]
            format = "inline-toml"
        [local_server.config_stores.jwks_store.contents]
            ts-2025-10-A = "{\"kty\":\"OKP\",\"crv\":\"Ed25519\",\"kid\":\"ts-2025-10-A\",\"use\":\"sig\",\"x\":\"UVTi04QLrIuB7jXpVfHjUTVN5aIdcbPNr50umTtN8pw\"}"
            ts-2025-10-B = "{\"kty\":\"OKP\",\"crv\":\"Ed25519\",\"kid\":\"ts-2025-10-B\",\"use\":\"sig\",\"x\":\"HVTi04QLrIuB7jXpVfHjUTVN5aIdcbPNr50umTtN8pw\"}"
            current-kid = "ts-2025-10-A"
            active-kids = "ts-2025-10-A,ts-2025-10-B"
