name: "Run Format"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format-rust:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Cache cargo dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      
      - name: Retrieve Rust version
        id: rust-version
        run: echo "rust-version=$(grep '^rust ' .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Set up rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: "clippy, rustfmt"
          toolchain: ${{ steps.rust-version.outputs.rust-version }}

      - name: Add wasm32-wasi target
        run: rustup target add wasm32-wasip1
  
      - name: Run cargo fmt
        uses: actions-rust-lang/rustfmt@v1

      - name: Run cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  format-typescript:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: crates/js/lib
        
    steps:
      - uses: actions/checkout@v4

      - name: Retrieve Node.js version
        id: node-version
        working-directory: .
        run: echo "node-version=$(grep '^nodejs ' .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT
        shell: bash
        
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node-version.outputs.node-version }}
          cache: 'npm'
          cache-dependency-path: crates/js/lib/package.json

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
      
      - name: Run Prettier (check)
        run: npm run format
