name: "Run Tests"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-rust:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache Cargo dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Retrieve Rust version
        id: rust-version
        run: echo "rust-version=$(grep '^rust ' .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Set up Rust tool chain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ steps.rust-version.outputs.rust-version }}

      - name: Add wasm32-wasi target
        run: rustup target add wasm32-wasip1

      - name: Setup Viceroy (from main since 0.14.3 is broken)
        run: cargo install --git https://github.com/fastly/Viceroy viceroy

      - name: Build CLI
        run: cargo build -p cli --target x86_64-unknown-linux-gnu

      - name: Generate local config store
        run: ./target/x86_64-unknown-linux-gnu/debug/tscli config local -f trusted-server.toml

      - name: Run tests (wasm - default crates)
        run: cargo test

      - name: Run tests (native - cli)
        run: cargo test -p cli --target x86_64-unknown-linux-gnu

  test-typescript:
    name: vitest
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: crates/js/lib
    steps:
      - uses: actions/checkout@v4

      - name: Retrieve Node.js version
        id: node-version
        working-directory: .
        run: echo "node-version=$(grep '^nodejs ' .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node-version.outputs.node-version }}
          cache: 'npm'
          cache-dependency-path: crates/js/lib/package.json

      - name: Install dependencies
        run: npm ci

      - name: Build bundle
        run: npm run build

      - name: Run unit tests
        run: npm test -- --run
