name: "Run Tests"

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-rust:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Retrieve Rust version
        id: rust-version
        run: echo "rust-version=$(grep '^rust ' .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ steps.rust-version.outputs.rust-version }}
          target: wasm32-wasip1
          cache-shared-key: cargo-${{ runner.os }}

      - name: Get Viceroy cache key
        id: viceroy-rev
        run: echo "sha=$(git ls-remote https://github.com/fastly/Viceroy HEAD | cut -f1)" >> $GITHUB_OUTPUT

      - name: Cache Viceroy binary
        id: cache-viceroy
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/viceroy
          key: viceroy-${{ runner.os }}-${{ steps.viceroy-rev.outputs.sha }}

      - name: Install Viceroy (from main since 0.14.3 is broken)
        if: steps.cache-viceroy.outputs.cache-hit != 'true'
        run: cargo install --git https://github.com/fastly/Viceroy viceroy

      - name: Run tests
        run: cargo test

  test-typescript:
    name: vitest
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: crates/js/lib
    steps:
      - uses: actions/checkout@v4

      - name: Retrieve Node.js version
        id: node-version
        working-directory: .
        run: echo "node-version=$(grep '^nodejs ' .tool-versions | awk '{print $2}')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node-version.outputs.node-version }}
          cache: "npm"
          cache-dependency-path: crates/js/lib/package.json

      - name: Install dependencies
        run: npm ci

      - name: Build bundle
        run: npm run build

      - name: Run unit tests
        run: npm test -- --run
